@charset "utf-8";
//华文宋体
$font_family_st: \534E\6587\5B8B\4F53;
//微软雅黑
$font_family_yh: \5FAE\8F6F\96C5\9ED1;
//黑体
$font_family_ht: \9ED1\4F53;
//华文细黑
$font_family_xh: \534E\6587\7EC6\9ED1;
$font_body: 12px;
$color_main: #777;
$color_bg_body: #fff;

